@import '../../mixins.scss';

.postsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // font-size: 20px;

  .goLogin {
    text-align: center;
    font-size: 20px;

    button {
      padding: 5px 10px;
      margin: 10px 0;
      font-size: 18px;
      font-weight: bold;
      transition: all 0.3s;
  
      &:hover {
        transform: translateY(2px);
      }
    }
  }

  .noPost {
    font-size: 20px;
  }

  .posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 40%;
      height: 200px;
      margin: 20px;
      padding: 10px 20px 40px;
      border: 2px solid gray;
      border-radius: 10px;
      text-align: center;
      background-color: white;
      position: relative;
      
      @include mid {
        height: 150px;
        margin: 10px;
      }

      &.hidden {
        visibility: hidden;

        @include mid {
          display: none;
        }
      }

      .editAndDelete {
        display: flex;
        justify-content: flex-end;
        margin-bottom: -10px;
        text-align: right;
        gap: 5px;
        
        @include mid {
          margin-bottom: 0;
        }

        button {
          padding: 1px 5px;
          font-size: 16px;
          font-weight: bold;
          transition: all 0.3s;
          gap: 2px;

          &:hover {
            transform: translateY(1px);
          }
        }
      }

      .title {
        margin: 0;
        font-size: 22px;

        @include mid {
          font-size: 16px;
        }

        a {
          text-decoration: none;
          color: royalblue;
        }
      }

      small {
        font-size: 14px;
        color: gray;
      }
      
      .text {
        height: auto;
        word-wrap: break-word;
        width: 100%;
        text-align: left;
        font-size: 18px;

        @include mid {
          visibility: hidden;
        }
      }

      .goDetail {
        position: absolute;
        right: 20px;
        bottom: 20px;
        text-align: right;
        font-weight: bold;

        a {
          text-decoration: none;
          color: royalblue;
        }
      }
    }
  }

  .pagination {
    button {
      padding: 5px;
      margin: 10px 5px 0;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
